.poster {
  width: 300px;
  height: 450px;
  position: relative;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  border-radius: 8px;
}

.posterPlaceholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.approved {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.approvedPlus {
  font-weight: bold;
}

.watchAction {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.watchAction:hover {
  text-shadow: 1px 1px 3px rgb(255, 0, 0);
}

.grayscale {
  filter: grayscale(0.9);
}
