@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: rgba(0 0 0 / 0.5) rgb(70, 75, 83);
}

body {
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 10px;
}

a {
  color: white;
}

img {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.download {
  max-width: 300px;
}

.download a {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
